<section class="section text-center">
  <header class="section-header">
    <br>
    <h2 class="fs-45 fw-900">Join the One Person Startup Movement</h2>
    <hr>
    <p class="lead">We waited until we could do it right. Then we did! Instead of creating a carbon copy.</p>
  </header>


  <div class="row">
    <div class="col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
     <%= render "form" %>
  </div>
</div>
</section>