<header class="header fadeout header-inverse " style="background-image: linear-gradient(to bottom, #244947 0%, #51a4a0 100%);">
  <canvas class="constellation" width="1280" height="649"></canvas>
  <div class="container text-center">

    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">

        <h1>Thank you for submitting</h1>
        <p class="fs-20 opacity-70">I'll reach out to you through email letting you know when it has been posted</p>
      </div>
    </div>

  </div>
</header>

<section class="section text-center">

        <div class="row">
          <div class="col-12 offset-md-3 col-md-6">
            
            <%= link_to "Go Back", root_path, class: "btn btn-lg btn-round btn-success" %>
          </div>
        </div>

      </section>