<header class="header header-inverse" style="background-color: #9ac29d">
      <div class="container text-center">

        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">

            <h1>An Honourable Directory of Amazing<br> One Person Startups</h1>
            <p class="fs-20 opacity-70">Scroll down to discover them.</p>

          </div>
        </div>

      </div>
    </header>