

    <!-- Footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row gap-y align-items-center">
          <div class="col-12 col-lg-3">
            
          </div>

          <div class="col-12 col-lg-6">
            
          </div>

          <div class="col-12 col-lg-3">
            <p class="pull-right">Created by <%= link_to "tiagomartins.io", "https://tiagomartins.io/?utm_source=onepersonstartups&utm_medium=referral", target: "_blank" %> in 2017</p>
          </div>
        </div>
      </div>
    </footer>

